@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@500;700&family=Yellowtail&display=swap");

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  height: 100vh;
  width: 100vw;
}

#nav-bar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

header {
  padding: 1.5em;
}

nav {
  position: absolute;
  display: inline-block;
  margin-inline: 3em;
  cursor: pointer;
}

nav a {
  margin: 1em;
  cursor: pointer;
}

.profile {
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
}

#corner {
  position: relative;
  display: flex;
}

.bell {
  position: absolute;
  right: 4em;
  top: 0em;
  border-radius: 50px;
  background-color: lightgray;
  border: 17px solid lightgray;
  cursor: pointer;
}

.dart {
  position: absolute;
  top: 0%;
  right: 0%;
  left: 60%;
  bottom: 60%;
  background-color: green;
  border: 3px solid whitesmoke;
  border-radius: 50%;
  display: flex;
}

.svg {
  position: absolute;
  top: 0;
}

#main {
  height: 50vh;
  background-color: mediumpurple;
}

.hero {
  width: 510px;
  position: absolute;
  left: 40em;
}

#text {
  display: inline-block;
  padding: 10em;
  position: absolute;
  bottom: 12em;
}

h1 {
  color: white;
}

p {
  color: darkgrey;
}

.btn {
  border-radius: 10px;
  background-color: lightgreen;
  padding: 1em;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.btn1 {
  border-radius: 10px;
  background-color: white;
  padding: 1em;
  border: none;
  color: black;
  font-weight: 600;
  cursor: pointer;
}

#icon {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  justify-content: center;
  padding: 1em;
}

.camera {
  border: 19px solid antiquewhite;
  border-radius: 50px;
  background-color: antiquewhite;
  margin-inline: 3em;
  color: brown;
}

#end {
  width: 100vw;
  height: 200vh;
  background-color: lightgray;
  position: relative;
}

#flex {
  display: inline-block;
  margin-left: 20em;
  margin-top: 3.1em;
}

.flex1 {
  background-color: rgb(241, 241, 241);
  margin: 10px;
  display: inline-block;
  font-size: 40px;
  width: 170px;
  height: 40vh;
}

.images {
  width: 170px;
}

.some-text {
  color: black;
  margin-left: 9px;
}

h6 {
  margin-top: 0em;
  font-size: 10px;
  margin-left: 10px;
}

.one {
  font-size: 15px;
  margin-left: 10px;
  margin-top: -15px;
}

#star {
  margin-top: -15px;
  margin-left: 8px;
}

.full {
  width: 20px;
}

.price {
  color: black;
  font-size: medium;
  margin-left: 10px;
  font-weight: 800;
  margin-top: 7px;
}

span {
  text-decoration: line-through;
  font-weight: lighter;
  font-weight: 400;
  color: darkgray;
}

.foto {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  margin-top: -0.3em;
  margin-left: 0.2em;
}

.name {
  display: flex;
  font-size: 12px;
  margin-left: 4em;
  margin-top: -23px;
  color: darkgray;
}

.bookmark {
  position: relative;
  right: -3.6em;
  top: -1.2em;
}

footer {
  font-size: 1.1rem;
  color: lightslategrey;
  font-weight: lighter;
  margin-left: 21em;
  margin-top: 4em;
}

#me {
  color: burlywood;
  text-decoration: none;
}

.privacy {
  margin-left: 1.1em;
}

#link {
  display: inline-block;
  position: absolute;
  left: 45em;
  bottom: 1.6em;
  font-size: 1.1rem;
  color: lightslategrey;
}
